<%- include('./header.ejs') %>

  <div style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial; ;">
    <h3>Seja bem vindo ao Conclua, <%= nome %>
    </h3>
    <p>
      <%= nome %>
    </p>
    <p>
      <%= mensagem %>
    </p>


  </div>

  <%- include('./footer.ejs') %>